<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <% if @user.id.nil? %>
      <%= f.text_field :name %>
    <% else %>
      <%= f.text_field :name, :readonly => "readonly" %>
    <% end %>
  </div>
  <% if session[:user_id].to_i != 0 and User.find(session[:user_id]).administrator %>
  <div class="field">
    <%= f.label :poster %><br />
    <%= f.check_box :poster %>
  </div>
  <div class="field">
    <%= f.label :moderator %><br />
    <%= f.check_box :moderator %>
  </div>
  <div class="field">
    <%= f.label :administrator %><br />
    <%= f.check_box :administrator %>
  </div>
  <% else %>
    <div class="field">
    <%= f.hidden_field :poster, :value => false %>
  </div>
  <div class="field">
    <%= f.hidden_field :moderator, :value => false %>
  </div>
  <div class="field">
    <%= f.hidden_field :administrator, :value => false %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :password %><br />
    <% if @user.password.nil? %>
      <%= f.password_field :password %>
    <% else %>
      <%= f.password_field :password, value => @user.password %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
