<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Poster:</b>
  <%= @user.poster %>
</p>

<p>
  <b>Moderator:</b>
  <%= @user.moderator %>
</p>

<p>
  <b>Administrator:</b>
  <%= @user.administrator %>
</p>

<% if session[:user_id] != 0 and (User.find(session[:user_id]).administrator or session[:user_id] == @user.id) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
