<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @post.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body.html_safe %>
</p>

<p>
  <b>User:</b>
  <%= link_to "#{@post.user.name}", @post.user %>
</p>

<% if session[:user_id].to_i != 0 %>
<%= link_to "Comment on this post", "/comments/new?post_reply=#{@post.id}" %>
<% end %>


<% if session[:user_id].to_i != 0 and (@post.user_id == session[:user_id] or User.find(session[:user_id]).moderator)%>
| <%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>

<h2>Comments</h2>

<div id=comments_of_post>
  <% @post.comments.each do | comment | %>
    <div class=comment_of_post>
      <strong><%= link_to "#{comment.user.name}", comment.user %></strong>
      <p><%= comment.body.html_safe %></p>
    </div>
  <% end %>
</div>

<%= link_to 'Back', posts_path %>
