<!DOCTYPE html>
<html>
<head>
  <title>C3web</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= link_to "Home", "/" %> |
<% if session[:user_id].to_i != 0 %>
  Logged in as <%= User.find(session[:user_id]).name %> |
  <%= link_to "Profile", "/users/#{session[:user_id]}" %> |
  <%= link_to "Log Out", "/login/out" %>
<% else %>
  <%= link_to "Log In", "/login" %> |
  <%= link_to "Sign Up", "/users/new" %>
<% end %>
</div>

<div id=advertisement>
  <% if @url_of_ad_image == nil %>
  <p>Set the path to the adserver URL generator in app/controllers/application_controller.rb!</p>
  <% else %>
  <%= image_tag @url_of_ad_image %>
  <% end %>
</div>

<%= yield %>

<div id="footer">
<p>
<% if session[:user_id].to_i != 0 and User.find(session[:user_id]).moderator%>
  <%= link_to "Posts Moderation", "/posts" %>
<% end %>
<% if session[:user_id].to_i != 0 and User.find(session[:user_id]).administrator%>
  <%= link_to "Users Administration", "/users" %>
<% end %>
</p>
</div>

</body>
</html>
